In [1]:
# Question 1 solution

In [56]:
import pandas as pd

In [3]:
data = [4,8,15,16,23,42]

In [5]:
series = pd.Series(data)

In [6]:
print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [7]:
type(series)

pandas.core.series.Series

In [8]:
#Question 2 solution

In [15]:
import pandas

In [9]:
marks = [80,83,78,94,88,94,96,82,87,83]

In [16]:
series = pandas.Series(marks)

In [17]:
print(series)

0    80
1    83
2    78
3    94
4    88
5    94
6    96
7    82
8    87
9    83
dtype: int64

In [18]:
#Question 3 solution

In [19]:
import pandas as pd

In [20]:
data ={
    'Name':["Alice","BOb","Claire"],
    'Age':[25,30,27],
    'Gender':["Female","Male","Female"]
    
}

In [22]:
dataFrame = pd.DataFrame(data)

In [24]:
print(dataFrame)

     Name  Age  Gender
0   Alice   25  Female
1     BOb   30    Male
2  Claire   27  Female

In [29]:
type(dataFrame)

pandas.core.frame.DataFrame

In [30]:
#Question 4 Solution

In [31]:
"""
Dataframe:- A DataFrame is a data structure that organizes data into a 2-dimensional table of rows and columns,
            much like a spreadsheet.It is combination of Multiple Columns.A DataFrame can store heterogeneous data.

Series:-A DataFrame is a data structure that organizes data into a 1-dimensional table of rows and columns,
        It is a single column element.A series can store homogenous data because it has one column .
        
        Example:-
"""

'\nDataframe:- A DataFrame is a data structure that organizes data into a 2-dimensional table of rows and columns,\n            much like a spreadsheet.It is combination of Multiple Columns.A DataFrame can store heterogeneous data.\n\nSeries:-A DataFrame is a data structure that organizes data into a 1-dimensional table of rows and columns,\n        It is a single column element.A series can store homogenous data because it has one column .\n        \n        Example:-\n'

In [33]:
data ={
    'Name':["Alice","BOb","Claire"],
    'Age':[25,30,27],
    'Gender':["Female","Male","Female"]
    
}

In [36]:
pd1 = pd.DataFrame(data)

In [37]:
print(pd1)

     Name  Age  Gender
0   Alice   25  Female
1     BOb   30    Male
2  Claire   27  Female

In [38]:
type(pd1)

pandas.core.frame.DataFrame

In [40]:
print(pd1['Name'])

0     Alice
1       BOb
2    Claire
Name: Name, dtype: object

In [41]:
type(pd1['Name'])

pandas.core.series.Series

In [42]:
#Question 5 Solution

In [ ]:
"""
     there are following function that use to manupulate pandas Data Frame:-
     head(),tail(),describe(),info(),loc[],iloc[]
"""

In [44]:
pd1.head(2)

    Name  Age  Gender
0  Alice   25  Female
1    BOb   30    Male

In [45]:
pd1.tail(2)

     Name  Age  Gender
1     BOb   30    Male
2  Claire   27  Female

In [46]:
pd1.describe()

             Age
count   3.000000
mean   27.333333
std     2.516611
min    25.000000
25%    26.000000
50%    27.000000
75%    28.500000
max    30.000000

In [47]:
pd1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    3 non-null      object
 1   Age     3 non-null      int64
 2   Gender  3 non-null      object
dtypes: int64(1), object(2)
memory usage: 200.0+ bytes

In [48]:
pd1.loc[0]

Name       Alice
Age           25
Gender    Female
Name: 0, dtype: object

In [51]:
pd1.loc[0:2]

     Name  Age  Gender
0   Alice   25  Female
1     BOb   30    Male
2  Claire   27  Female

In [52]:
pd1.iloc[0]

Name       Alice
Age           25
Gender    Female
Name: 0, dtype: object

In [53]:
pd1.iloc[0:2]

    Name  Age  Gender
0  Alice   25  Female
1    BOb   30    Male

In [ ]:
#Question 6 solution

In [ ]:
"""
Series: A Pandas Series is a one-dimensional labeled array and is mutable.
You can modify its elements, change its size, or perform various operations on it.

DataFrame: A Pandas DataFrame is a two-dimensional labeled data structure and is 
also mutable. You can add, delete, modify columns, rows, and their values, perform
data transformations, and more.

Panel: A Panel is a three-dimensional data structure in pandas (not used as frequently
as Series and DataFrame). It was primarily used for handling multi-dimensional data. 

Therefore, Series and DataFrame are the mutable data structures in pandas, while Panel 
is not recommended to be used and is considered as immutable in nature.
"""

In [ ]:
#Question 7 Solution

In [58]:
Name = pd.Series(["Alice","BOb","Claire"])
Age = pd.Series([25,30,27])
Gender = pd.Series(["Female","Male","Female"])

In [59]:
data = {
    'Name':Name,
    'Age':Age,
    'Gender':Gender
}

In [60]:
print(data)

{'Name': 0     Alice
1       BOb
2    Claire
dtype: object, 'Age': 0    25
1    30
2    27
dtype: int64, 'Gender': 0    Female
1      Male
2    Female
dtype: object}

In [61]:
type(data)

dict

In [ ]:
data ={
    'Name':
}