Q1. What is a database? Differentiate between SQL and NoSQL databases.

Database:
A database is a digital container where we organize and manage data and information.

SQL(Structured Query Language) Databases:

Structure: Information is organized like a well-structured with rows and columns.                                         
Schema: It follows a predefined blueprint, like having a plan for how data should be arranged.                         
Consistency: Data is always reliable and follows strict rules for accuracy.                       
Scalability: It scales up by making the existing server more powerful.                     
Examples: MySQL, PostgreSQL, Oracle, SQL Server.                         

NoSQL(Not Only Structured Query Language) Databases:

Structure: Information is stored in a flexible way, like throwing data into a versatile container.                    
Schema: It's flexible, allowing the addition of information without a predefined plan.                       
Consistency: It may prioritize speed and flexibility over strict rules, allowing for some variability in data.                  
Scalability: It scales out by adding more servers to handle larger amounts of data.                                
Examples: MongoDB, Cassandra, CouchDB, Redis.  








.

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

DDL stands for Data Definition Language, and it is a subset of SQL (Structured Query Language) used to define and manage the structure of a database. DDL statements are responsible for defining and managing database objects such as tables, indexes, and constraints.

CREATE:

Purpose: Used to create a new database, table, index, or other database objects.

CREATE TABLE employees (
    emp_id INT PRIMARY KEY,
    emp_name VARCHAR(50),
    emp_salary DECIMAL(10,2)
);

DROP:

Purpose: Used to delete an existing database, table, index, or other database objects.

DROP TABLE employees;

ALTER:

Purpose: Used to modify the structure of an existing database object, such as adding, modifying, or dropping columns in a table.

ALTER TABLE employees
ADD COLUMN emp_department VARCHAR(30);

TRUNCATE:

Purpose: Used to remove all rows from a table while retaining the structure for future use.

TRUNCATE TABLE employees;

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

DML deals with the manipulation of data stored in the database.

INSERT: Adds new records to a table.
UPDATE: Modifies existing records in a table.
DELETE: Removes records from a table.

-- INSERT new records
INSERT INTO Students (student_id, student_name, age)
VALUES (1, 'Ankush Singh', 20),
       (2, 'Anku', 22);

-- UPDATE records
UPDATE Students
SET age = 21
WHERE student_id = 1;

-- DELETE records
DELETE FROM Students
WHERE student_id = 2;

Q4. What is DQL? Explain SELECT with an example.

DQL stands for Data Query Language, which is a component of SQL (Structured Query Language) that is used to retrieve data from a database. The main DQL command is SELECT, which allows you to specify the columns and tables you want to query, as well as any conditions or filters you want to apply.




SELECT * FROM Students;

Q5. Explain Primary Key and Foreign Key.

A primary key is a column or a set of columns that uniquely identifies each row in a table. A primary key cannot have null or duplicate values. 


A foreign key is a column or a set of columns that references the primary key of another table. A foreign key establishes a relationship between two tables and enforces referential integrity.

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [ ]:
import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="yourusername",
  password="yourpassword",
  database="yourdatabase"
)

cursor(): cursor is used to interact with the MySQL database. The cursor acts as a pointer or handle to the database.
execute(query):using execute , instructing the database to execute the SQL query .

Q7. Give the order of execution of SQL clauses in an SQL query.

FROM: Specify where you are getting your ingredients (data) from, like mentioning the table.

WHERE: Filter out the ingredients you want based on specific criteria, like choosing only certain rows.

GROUP BY: Group similar ingredients together, like grouping all the tomatoes.

HAVING: Decide if you want to keep or discard a group based on certain conditions, like deciding to keep a group of tomatoes only if they are ripe.

SELECT: Choose the specific ingredients you want to work with, like selecting only the tomatoes from the group.

ORDER BY: Arrange the final dish (result set) in a specific order, like sorting the tomatoes by size.